
p {
  font-family: Roboto;
  width: 500px;
  line-height: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.username {
  font-weight: bold;
  font-size: 18px;
}
.time {
  color: rgb(79, 79, 79);
  margin-left: 5px;
}
.hour {
  margin-left: 10px;
  color: rgb(79, 79, 79);
}
.online {
  margin-top: 5px;
}
.assist {
  margin-top: 20px;
}
.tech {
  color: rgb(69, 77, 185);
}
.new {
  font-size: 15px;
  margin-top: 50px;
  margin-left: 200px;
  color: rgb(196, 98, 17);
}
.mac {
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 150px;
}
.pro {
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}
.from {
  margin-top: 15px;
  margin-left: 180px;
  color: rgb(79, 79, 79);
}
.buy {
  margin-top: 10px;
  margin-left: 200px;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  color: white;
  background-color: rgb(58, 65, 165);
  border-radius: 20px;
}
.cost {
  font-size: 30px;
  margin-top: 30px;
}
.usd {
  font-size: 15px;
  color: rgb(79, 79, 79);
  margin-left: 5px;
}
.green {
  color: green;
}
.init {
  color: rgb(244, 7, 82);
}
