p {
  font-family: roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.homepage {
  width: 570px;
  padding-top: 10px;
  margin-left: 5px;
}
.name {
  display: inline-block;
  vertical-align: middle;
  width: 283px;
}
.app {
  font-family: Great Vibes;
  font-weight: bold;
  vertical-align: top;
  font-size: 40px;
  margin-top: 60px;
  margin-left: 10px;
}
.homa {
  width: 280px;
  display: inline-block;
  vertical-align: middle;
}
.home1, .search1, .note1, .inbox1, .account1 {
  width: 50px;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px;  
}
.home1:hover, .search1:hover, .note1:hover, .inbox1:hover, .account1:hover {
  background-color: rgb(230, 230, 230);
}
.home, .search, .note, .inbox, .account {
  width: 30px;
  vertical-align: middle;
  margin-right: 0;
  padding-right: 0;
  display: inline-block;
}
.lone {
  margin-top: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.9);
  width: 570px;
}
.user1 {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}
.user {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100px;
  margin-left: 10px;
  margin-right: 0;
}
.text1 {
  display: inline-block;
  width: 370px;
  vertical-align: middle;
}
.text {
  font-size: 17px;
  margin-left: 5px;
  margin-top: 0p;
  border: none;
  width: 320px;
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color:white;
}
.reach1 {
  display: inline-block;
  vertical-align: middle;
}
.reach {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  background-color: rgb(107, 7, 133);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}
.lim {
  margin-top: 40px;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.9);
  width: 570px;
}
.tren {
  margin-top: 20px;
}
.shop-group {
  font-weight: bold;
}
.trent {
  display: inline-block;
  width: 540px;
  margin-bottom: 10px;
}
.exp {
  display: inline-block;
  width: 30px;
}
.shop {
  display: inline-block;
  width: 25px;
  margin-left: 10px;
  vertical-align: middle;
}
.pro {
  display: inline-block;
  vertical-align: middle;
}
.list {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color:  rgb(107, 7, 133);
  margin-top: 2px;
}
.flat {
  width: 30px;
  vertical-align: middle;
}
.p11 {
  width: 177px;
  height: 225px;
  display: inline-block;
  border-width: 0px;
  border-style: solid;
  margin-top: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  border-radius: 10px;
}
.p1 {
  width: 170px;
  height: 170px;
  object-fit: contain;
  border: none;
  border-radius: 10px;
  padding-top: 0px;
  margin-left: 2px;
}
.naira {
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}
.product {
  font-size: 10px;
  margin-top: 5px;
  margin-left: 10px;
  padding-bottom: 10px;
  color: rgb(97, 97, 97);
}
.product-info {
  display: inline-block;
  width: 135px;
  vertical-align: middle;
}
.cart1 {
  display: inline-block;
  width: 25px;
  vertical-align: middle;
}
.cart {
  width: 25px;
}
.live {
  width: 30px;
  vertical-align: middle;
  margin-left: 30px;
}
.liv {
  font-size: 15px;
  margin-left: 5px;
  color: rgb(97, 97, 97);
  font-weight: bold;
  font-family: roboto;
}
.pic {
  width: 30px;
  vertical-align: middle;
  margin-left: 30px;
}
.pics {
  font-size: 15px;
  margin-left: 5px;
  color: rgb(97, 97, 97);
  font-weight: bold;
  font-family: roboto;
}
.prod {
  width: 30px;
  vertical-align: middle;
  margin-left: 30px;
}
.prods {
  font-size: 15px;
  margin-left: 5px;
  color: rgb(97, 97, 97);
  font-weight: bold;
  font-family: roboto;
}
.poster {
  display: block;
  width: 565px;
  border-width: 0px;
  border-style: solid;
  margin-top: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.post1 {
  display: inline-block;
  width: 450px;
  margin-left: 5px;
}
.post {
  font-size: 15px;
  display: inline-block;
  margin-top: 10px;
}
.small-photo1 {
  display: inline-block;
  vertical-align: middle;
}
.small-photo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.small-title {
  display: inline-block;
  vertical-align: middle;
}
.dot1 {
  display: inline-block;
  width: 30px;
}
.dot {
  width: 20px;
  vertical-align: middle;
}
.jerry {
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.comp {
  font-size: 15px;
  color: rgb(97, 97, 97);
  margin-left: 5px;
  cursor: pointer;
  margin-right: 5px;
}
.time {
  font-size: 15px;
  margin-left: 5px;
  color: rgb(97, 97, 97);
  cursor: pointer;
}
.verify {
  vertical-align: top;
  width: 18px;
}
.laptop1 {
  background-color: rgb(230, 230, 230);
  width: 540px;
  height: 565px;
  margin-left: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(202, 202, 202);
  margin-top: 15px;
  text-align: center;
}
.laptop {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-right: 10px;
}
.tired {
  width: 530px;
  margin-left: 15px;
  line-height: 20px;
  margin-top: 20px;
  font-size: 15px;
}
.follow {
  margin-left: 10px;
  margin-top: 10px;
  width: 500px;
  line-height: 25px;
}
.assist {
  color: rgb(81, 79, 214);
  cursor: pointer;
}
.view {
  margin-top: 20px;
  margin-left: 10px;
  color: rgb(81, 79, 214);
  margin-bottom: 10px;
  font-size: 15px;
}
.line, .mid {
  color: rgb(97, 97, 97);
  width: 530px;
  border-width: 0.5px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.reaction {
  margin-left: 20px;
}
.lovi {
  display: inline-block;
  width: 490px;
}
.love1, .comment1, .share1 {
  width: 100px;
  display: inline-block;
}
.love, .comment, .share {
  width: 25px;
  vertical-align: middle;
}
.like, .talk, .give { 
  color: black;
  font-size: 15px;
  vertical-align: middle;
  margin-left: 5px;
}
.wish1 {
  display: inline-block;
  width: 30px;
}
.wish {
  width: 25px;
  vertical-align: middle;
}
.branding {
  margin-top: 30px;
}
.rec-row {
  border-width: 2px;
  border-style: solid;
  margin-left: 10px;
  width: 550px;
  margin-top: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 10px;
  margin-top: 10px;
}
.rec11{
  margin-bottom: 20px;
  width: 545px;
}
.rec1 {
  display: inline-block;
  vertical-align: middle;
  width: 90px;
}
.rec {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 10px;
}
.rec-name1 {
  display: inline-block;
  vertical-align: middle;
  width: 350px;
}
.rec-name {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}
.rec-desc {
  font-size: 15px;
  color: rgb(97, 97, 97);
}
.folo1 {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  margin-left: 10px;
}
.folo {
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(107, 7, 133);
  color: white;
  font-weight: bold;
}

.lino, .lino:active {
  text-decoration: none;
  color: inherit;
}